:root {
  --title-font: 'Rowdies', cursive;
  --body-font: 'Poppins', sans-serif;
  --primary-color: #81A1DD;
  --secondary-color: #0D1821;
  --terciary-color: #EDFF71;
  --extra-color: #DB5461;
}

body {
    background-color: #ffff;
    font-family: var(--body-font);
    color: var(--secondary-color);
}

h1 {
    font-family: var(--title-font);
    font-size: 72px;
    line-height: 1;
    margin: 0;
}

h3 {
    font-family: var(--title-font);
}

.container {
    max-width: 1200px;
}

.btn {
    background-color: var(--terciary-color);
    transition: all 300ms ease-in-out;
}

.btn:hover {
    background-color: var(--extra-color);
}

.title-break {
    font-size: 40px;
    margin: 40px 0;
    text-align: center;
}

.divider {
    font-family: var(--title-font);
    font-size: 70px;
    text-align: center;
}


/* ------HOMEPAGE------ */


.hero {
    background-color: var(--primary-color);
    display: block;
    padding: 16px;
}

.hero-content {
    display: flex;
    text-align: start;
    margin: 0px auto;
    max-width: 1200px;
    align-items: center;
    justify-content: space-between;
}

.hero-content h2 {
    font-size: 20px;
    margin-bottom: 0;
    margin-top: 14px;
}

.hero-content p {
    font-size: 30px;
    margin: 0;
}

.hero-image {
    display: flex;
    max-width: 350px;
    margin-left: 30px;
}

.contact-me-button {
    margin-top: 20px;
}

.work-content-section {
    margin-top: 40px;
}

.visit-page-box a {
    font-size: 40px;
    color: var(--secondary-color);
    transition: all 300ms ease-in-out;
    text-decoration: none;
    margin-right: 20px;
}

.visit-page-box a:hover {
    color: var(--extra-color);
}

.footer-box {
    background-color: var(--primary-color);
    margin-top: 40px;
    padding: 40px;
}

.find-me-box {
    font-size: 40px;
    text-align: center;
}

.find-me {
    padding: 0 20px;
    font-size: 40px;
    text-align: center;
}

.find-me-box a {
    display: inline-block;
    color: var(--terciary-color);
    transition: all 300ms ease-in-out;
    text-decoration: none;
}

.find-me-box a:hover {
    color: var(--extra-color);
    transform: scale(1.5, 1.5);
}

footer {
    text-align: center;
    margin-top: 40px;
}

footer a {
    color: var(--secondary-color);
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    color: var(--extra-color);
    text-decoration: none;
    font-weight: bold;
}


/* ------ABOUT PAGE------ */


.about-section {
    margin-top: 40px;
    align-items: center;
}

.about-image {
    display: flex;
    max-width: 350px;
    margin: 0 auto;
}

.work-buttons-box {
    display:flex;
    justify-content: flex-start;
}

.work-buttons {
    margin-top: 20px;
    margin-right: 20px;
}

.contact-me-box {
    max-width: 600px;
    margin: 0 auto;
}

.form-control:focus {
    border-color: var(--secondary-color);
    box-shadow: 0 0 0 0.25rem rgba(13, 24, 33,.25);
}

/* ------Media Query------ */


@media (max-width: 992px){
    h1 {
        font-size: 50px;
    }

    .hero-image {
        max-width: 250px;
        margin-left: 30px;
        margin-right: 0;
    }

    .hero-content h2 {
        font-size: 16px;
        margin-bottom: 0;
        margin-top: 14px;
    }

    .hero-content p {
        font-size: 20px;
        margin: 0;
    }

}
@media (max-width: 768px){
    .work-content {
        text-align: center;
    }
    
    .work-content-text {
        margin-top: 20px;
    }

    .visit-page-box {
        text-align: center;
    }

    .visit-page-box a {
        margin: 0 20px;
        font-size: 40px;
    } 

    .about-section {
    text-align: center;
    }

    .work-buttons {
    margin-bottom: 40px;
    margin-left: 0;
    }

    .work-buttons-box {
    display:flex;
    justify-content: space-evenly;
    }

    .contact-me-box {
    padding: 20px;
    }
}

@media (max-width: 576px){
    .hero-image {
        max-width: 120px;
        margin-right: 5px;
        margin-top: 5px;
        position: absolute;
        top: 0;
        right: 0;
    }
    .hero-content {
        justify-content: flex-start;
    }
}    